* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: 1.2vh;
    background-color: #000;
}

.ui {
    display: block;
    z-index: -1000 !important;
    opacity: 0;
    pointer-events: none;
}

.ui.active {
    z-index: 0 !important;
    opacity: 1;
    pointer-events: all;
}